@import '../../styles/variables';

.filter {
    border-radius: 1em;
    padding: 2em;
    padding-bottom: 4em;
    background-color: white;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    margin: 2em 1em;
}
.filter__components {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.filter__title {
    text-align: center;
    margin: 0.5em auto 1.5em auto;
    font-size: 25px;
}

.filter__label {
    font-size: 10px;
    color: grey;
    margin-left: 2em;
}