@import "../../styles/variables";

.range {
  width: 20em;
}
div.noUi-connect {
  background-color: $main_buttons_color;
}
.range__container {
  text-align: center;
}
.range__title {
  margin-bottom: 1em;
}
