@import "./styles/variables";
body {
  font-size: $font_size_default;
  font-family: $font_default;
  background-color: $main_background_color;
}
a {
  text-decoration: none;
  color: $main_background_color;
}
