@import "../../styles/variables";

.statistics {
  color: $main_background_color;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 25em;
}
.statistics__card {
  span {
    font-size: 40px;
    color: $price_color;
  }
}
