@import "../../../styles/variables";

.button-create {
  width: 9em;
  background-color: $secondary_buttons_color;
  color: $header_footer_color;
  box-shadow: 0 0 3px $box_shadow_color;
  cursor: pointer;
}
.button-create:hover {
  background-color: $secondary_buttons_hover_color;
}
.button-create__container {
  position: absolute;
  right: 4em;
  top: 27em;
  margin-top: 1em;
}
