@import '../../styles/variables';

.slider {
    margin-top: $header_margin;
    position: relative;
}
.slider__slide {
    position: relative;
    img {
       width: 100%;
   }
}

.slider__button {
    background-color: red;
    color: lightgrey;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 48px;
    margin: 4px 2px;
    border-radius: 50%;
    border: none;
    outline: none;
    
}
.prev {
    position: absolute;
    top: 40%;
    left: 1em;
}
.next {
    position: absolute;
    top: 40%;
    right: 1em;
}
.slider__button:hover {
    background-color: rgb(134, 0, 0);
}
.slide__title {
    font-family: 'Sriracha', cursive;
    color: white;
    font-size: 60px;
    position: absolute;
    bottom: 3em;
    left: 2em;
    border-bottom: red 5px solid;
    padding-right: 13em;
}
.slide__description {
    color: white;
    position: absolute;
    font-size: 30px;
    bottom: 2.5em;
    right: 1em;
    text-align: right;
    color: lightgray;
    font-style: italic;
    margin-left: 7em;

}
a:hover {
    color: rgb(219, 219, 219);
}


