.button1 {
    width: 8em;
    height: 2.5em;
    font-size: 20px;
    border-radius: 2em;
    border: none;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
}
.red:hover {
    background-color:rgb(99, 0, 0);
}
.grey:hover {
    background-color:grey;
}
.red {
    background-color: rgb(206, 0, 0);
    margin-right: 2em;
}
.grey {
    background-color: rgb(212, 212, 212);
    color: black;
}
.title {
    font-size: 30px;
    margin-top: 1em;
}
.img {
    padding-top: 0.5em;
}