@import "../../styles/variables";

.button1 {
  width: 8em;
  height: 2.5em;
  font-size: 20px;
  border-radius: 2em;
  border: none;
  box-shadow: 0 0 3px $box_shadow_color;
  color: $main_background_color;
  cursor: pointer;
}
.red:hover {
  background-color: $main_buttons_hover_color;
}
.grey:hover {
  background-color: $secondary_buttons_hover_color;
}
.red {
  background-color: $main_buttons_color;
  margin-right: 2em;
}
.grey {
  background-color: $secondary_buttons_color;
  color: $header_footer_color;
}
.title {
  font-size: 30px;
  margin-top: 1em;
}
.img {
  padding-top: 0.5em;
}
.car__image {
  width: 30em;
}
.car__fragment {
  min-height: 90vh !important;
}
.car__info-input.brand {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}