@import "../../styles/variables";

.select__container {
  margin-top: 0.35em;

  select {
    width: 15em;
    padding: 1em;
    border-radius: 2em;
    box-shadow: 0 0 3px $box_shadow_color;
    border: none;
    background-color: $main_background_color;
  }
}
