.select__container {
  margin-top: 0.35em;

  select {
    width: 15em;
    padding: 1em;
    border-radius: 2em;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border: none;
    background-color: rgb(250, 250, 250);
  }
}
