@import "../../styles/variables";

.search__input {
  border-radius: 2em;
  padding: 1em;
  width: 15em;
  border: none;
  background-color: $main_background_color;
  box-shadow: 0 0 3px $box_shadow_color;
  margin-top: 0.5em;
}
