@import "../../styles/variables";

.slider {
  margin-top: 0;
  position: relative;
}
.slider__slide {
  position: relative;
  img {
    width: 100%;
  }
}

.slider__button {
  background-color: $main_buttons_color;
  color: $secondary_buttons_color;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 48px;
  margin: 4px 2px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}
.prev {
  position: absolute;
  top: 40%;
  left: 1em;
}
.next {
  position: absolute;
  top: 40%;
  right: 1em;
}
.slider__button:hover {
  background-color: $main_buttons_hover_color;
}
.slide__title {
  font-family: "Sriracha", cursive;
  color: $main_background_color;
  font-size: 60px;
  position: absolute;
  bottom: 3em;
  left: 2em;
  border-bottom: $main_buttons_color 5px solid;
  padding-right: 13em;
}
.slide__description {
  color: $main_background_color;
  position: absolute;
  font-size: 30px;
  bottom: 2.5em;
  right: 1em;
  text-align: right;
  color: $secondary_buttons_color;
  font-style: italic;
  margin-left: 7em;
}
a:hover {
  color: $secondary_buttons_color;
}
.slider__err {
  text-align: center;
  margin-top: 1em;
}

@media screen and (max-width: 1500px) {
  .slider {
    display: none;
  }
}
