@import '../../styles/variables';
.header {
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 1.5em 2em;
    top: 0;
    
    z-index: 5;
}
.header__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 20em;
    padding: 0.5em 0;
    color: white;
    a {
        text-decoration: none;
        color: white;
        
    }
}
.header__links a:hover {
    color: grey;
}
.header__title {
    font-size: 30px;
    font-family: 'Lobster', cursive;
    color: red;
    
    span {
        color: white;
    }
}

.cars__link {
    div {
        display: inline;
        font-size: 10px;
        font-family: 'Abel', sans-serif;
    }
}
.cars__link:hover {

    .header__chose-menu {
        display: block !important;
    }
}
.header__chose-menu {
    position: absolute;
    left: 7%;
    top: 5.5em;
    z-index: 4;
    background-color: black;
    border: solid grey 1px;
    padding: 0.5em 2em;
    display: none !important;

    div {
        font-size: 17px;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0.5em auto;
    }
}

