.users__container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin-left: 5em;

  span {
    font-weight: bold;
    font-size: 25px;
    margin: 1em auto;
  }
  div {
    word-spacing: 10em;
  }
}
