@import "../../styles/variables";
.header {
  color: white;
  background-color: rgb(17, 17, 17);
  display: flex;
  justify-content: space-between;
  padding: 1.5em 2em;
  top: 0;
  position: relative;

  z-index: 5;
}
.header__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 20em;
  padding: 0.5em 0;
  color: white;
  a {
    text-decoration: none;
    color: white;
  }
}

.header__links a:hover {
  color: grey;
}
.header__title {
  font-size: 30px;
  font-family: "Lobster", cursive;
  color: red;
  margin-top: 0.5rem;

  span.dealer {
    color: red;
  }
  span.car {
    color: white;
  }
}

.cars__link {
  div {
    display: inline;
    font-size: 10px;
    font-family: "Abel", sans-serif;
  }
}
.link-1:hover {
  .header__chose-menu {
    display: block !important;
  }
}
.header__chose-menu {
  position: absolute;
  left: 7%;
  top: 3.3em;
  z-index: 4;
  background-color: black;
  border: solid grey 1px;
  padding: 0.2em 1em;
  display: none !important;

  div {
    font-size: 17px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5em auto;
  }
}
.flag {
  width: 2rem;
  cursor: pointer;
  margin-left: 0.3rem;
}
.flag:hover {
  transform: scale(1.2);
}
.link {
  margin-top: 0.5rem;
}

.hamburger__btn {
  padding-top: 0em;
  display: none;
  font-size: 25px;
  color: white;
}

.menu {
  display: block;
  position: absolute;
  background-color: rgba(17, 17, 17, 1);
  padding: 1em 5em;
  top: 6rem;
  font-size: 25px;
  left: 0;
  border-radius: 10px;

  display: none;
}

.menu__link {
  margin-bottom: 4rem;

}

.menu__link {
  a:hover {
    color: grey;
  }
}

#toggleMenu {
  display: none;
}

#labelToggleClose {
  display: none;
}




@media (max-width: 1000px) {
  .hamburger__btn {
    display: block;
    width: 1em;
  }
  #labelToggle {
    cursor: pointer;
  }
  #labelToggleClose {
    cursor: pointer;
  }
  #labelToggle:hover {
    color: grey;
  }
  #labelToggleClose:hover {
    color: grey;
  }
  .first {
    display: none;
  }
  .register {
    display: none;
  }
  .header__title {
    text-align: center;
    margin: auto;
  }
  #toggleMenu:checked ~ .menu {
    display: block;
  }
  #toggleMenu:checked ~ #labelToggle {
    display: none;
  }
  #toggleMenu:checked ~ #labelToggleClose {
    display: block;
  }

}