@import "../../styles/variables";

.car__container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 2em 2em;
  min-height: 59.5vh;

  input,
  textarea {
    width: 100%;
    border: 1px solid $secondary_buttons_color;
  }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    font-size: 15px;
    padding-left: 0.5em;
    font-family: "Roboto Mono";
  }

  input {
    border-bottom: 1px solid $secondary_buttons_color !important;
  }

  input:disabled,
  textarea:disabled {
    border: none;
    background-color: $main_background_color;
  }
  textarea {
    font-size: 15px;
    resize: none;
    height: 8em;
    width: 35em;
  }
}
.car__image {
  margin: auto;
  img {
    width: 30em;
    border-radius: 10px;
  }
}
.car__description {
  margin-bottom: 1em;
}
.car__title {
  text-align: center;
  margin: 1em auto;
  margin-bottom: 2em;
}
.car__title-input {
  font-size: 25px;
}
.car__info-input {
  font-size: 15px;
  font-weight: bold;
}
.carflex {
  display: flex;
  img {
    width: 1.3em;
  }
}

.full {
  width: 100%;
  margin: 3em auto 1em auto;
}
.full2 {
  min-width: 80%;
  min-height: 12em;
}
.car__btn {
  margin: auto;
}
.emailLink {
  text-decoration: underline;
  color: blue;
}
.emailLink:hover {
  text-decoration: underline;
  color: red;
}
.car__btn-container {
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.car__info {
  margin: auto;
}

