.button-search {
    width: 8em;
    height: 2.5em;
    font-size: 20px;
    border-radius: 2em;
    border: none;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(206, 0, 0);
    cursor: pointer;
}
.button-search__container {
    padding-top: 0.7em;
}